@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&family=Silkscreen&display=swap');

html,
body {
  text-align: center;
  padding: 0;
  height: 100%;
  margin: 0;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5b1d2b1d89c172a5020826d6/1537871569487-EDT1VP9FPXIAHQDI0H5N/site_background.png?format=2500w");
  font-family: 'Silkscreen', cursive;
    color: hotpink;
    background-color: #14161a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  font-size: 36pt;
  font-weight: 900;
  animation: neon 3s ease infinite;
}

@keyframes neon {
  0%,
  100% {
      text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
      color:  rgb(239, 204, 222);
  }
  50% {
      text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
      color: rgb(249, 137, 193);
  }
}

.test {
  float: left;
  width: 20%;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
  position: inherit;
}


.controls {
  float: left;
  width: 20%;
  height: 100vh;
  padding: 1rem;
  background: #14161a;
  color: hotpink;
  /* display: grid;
  align-items: center; */
}

.controls input {
  border: none;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.map {
  float: right;
  width: 80%;
  height: 100%;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  color: hotpink;
  padding: 0.5rem;
  background-color: black;
  margin: 2px;
}

.pastTripContainer {
  background-color: black;
  border-color: hotpink;
  border-style: double;
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  box-shadow: inset 0 10px 5px rgba(0,0,0,0.16), 0 6px 10px rgba(0,0,0,0.45);
  border-radius: 30px; 
}

.pastTripContainer:hover {transform: scale(1.1); }

button {
  background-color: hotpink;
  color: black;
  font-weight: 700;
  font-size: medium;
  margin: 5px;
  border: thick groove white;
}

button:hover {
  background-color: black;
  color: hotpink;
  transform: scale(1.1);
}

.show-trips {
  font-size: 20pt;
  border-radius: 40%;
  color: black;
  background-color: rgb(233, 10, 229);
}

.show-trips:hover {
  background-color: black;
  color: rgb(233, 10, 229);
  transform: scale(1.1);
}

.addedTripAlert {
  font-size: xx-large;
  animation: 2s anim-flipX ease infinite;
  border: thick groove white;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}

h1 {
  animation: bounceIn 2s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}