.signup-form {
    position: relative;
    display: inline-block;
    padding: 5px;
    background-color: rgb(37, 37, 37);
    font-size: larger;
    font-weight: bolder;
    box-shadow: 9px 9px 19px 10px rgba(255, 113, 255, 0.99),-10px -10px 20px 10px rgba(255, 113, 255, 1);
}